@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.body{
    background: #E2ECF9; /* Este es el color que quieres aplicar */
    margin: 0; /* Asegúrate de que no haya márgenes que afecten el fondo */
    padding: 0; /* Asegúrate de que no haya relleno que afecte el fondo */

}
.sidenav {
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 20px; /* Stay at the top */
    left: 20px;
    background: rgb(150,210,207);
    background: linear-gradient(184deg, rgba(150,210,207,1) 0%, rgba(127,206,222,1) 50%, rgba(33,73,160,1) 71%);
    border-radius: 30px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  .sidenav h1{
    font-family: 'Montserrat';
    padding: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 80px;

  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500px;
    color: white;
    display: block;
    padding-top: 20px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 290px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.main h1{
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 80px;
    font-size: 40px;
    
}
.main .tabla{
    background-color: white;
    padding: 40px;
    font-family: 'Montserrat';
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 1000px;
}
.main .tabla table{
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    margin-top: 80px;
}
.main .tabla th{
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
    width: 25%;
    font-weight: 300;
}
.main .tabla .head{
    font-weight: bold;
}


.main .tabla .searchbar input[type="text"]{
    padding: 8px 20px;
    border: 1px solir #EEEEEE;
    border-radius: 10px 0 0 10px;
    margin-left: 100px;
}
.main .tabla .searchbar .addbtn{
    padding: 10px;
    margin-left: -4px;
    background-color: #2149A0;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color .3s linear;
}
.main .tabla .searchbar .addbtn i{
    padding: 0 10px 0 0;
}
.main .tabla .searchbar .buscarbtn{
    padding: 10px;
    margin-left: -4px;
    background-color: #2149A0;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color .3s linear;
}